*.pyc

.DS_Store
.idea
.pypirc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
_build
eggs
parts
venv/bin
var
bin
lib
sdist
develop-eggs
.installed.cfg
venv/lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
venv
pyvenv.cfg
